<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Read. </title>
    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>
    <div classac="banner">
      <h1 style="text-align:left;">Read. <a href="https://docs.google.com/document/d/1BM554YucbMP63ajFTOxyAQWCWa2IYotJwTA10kyvr-s/edit?usp=sharing">About Us</a> </h1>

    </div>
    <div class="title">
      <h2 style="text-align:left;"><%= title %> by <%= author %></h2>
    </div>
    <div class="short-story">
        <%- text %>
    <div class="subheading">
      <h2>Mission Statement</h2>
    <div>
    <div class = "mission-statement">
      <p style="text-align:left;">Our mission is to dedicate this website for individuals that wish<br>
         to better their reading skills through interactives.</p>
    </div>

  </body>
</html>
