<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Read. </title>
    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>
    <div class="banner">
      <h1 style="text-align: left;">read.
        <span style="color: rgb(94, 103, 111);" class="center"> dyslexia reading assistant </span>
        <span style="float:right;" class="padright"> <a href="https://docs.google.com/document/d/1BM554YucbMP63ajFTOxyAQWCWa2IYotJwTA10kyvr-s/edit?usp=sharing" style="text-decoration: none; color: rgb(123, 129, 134);">about us</a></span>
      </h1>

    </div>
    <div class="title">
      <h2><%= title %> by <%= author %></h2>
    </div>
    <button id="play-audio" onclick="play_audio(document.getElementsByTagName('audio'));">Play Audio</button>
    <button id="play-one" onclick="play_one(document.getElementsByTagName('audio'))">Play One</button>
    <div class="short-story">
        <%- text %>
    </div>
    <div class="subheading">
      <h2>Mission Statement</h2>
    </div>
    <div class = "mission-statement">
      <p>Our mission is to dedicate this website for individuals that wish<br>
         to better their reading skills through interactives.</p>
    </div>

    <%- audio %>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="./js/audio-button.js"></script>

  </body>
</html>
