

@font-face {
  font-family: OpenDyslexic;
  src: url('../fonts/OpenDyslexic2/OpenDyslexic-Regular.otf');
}

@font-face {
  font-family: MajorMono;
  src: url('../fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf');
}

body {
  font-size: 20px;
}

.banner {
  font-family: 'MajorMono';
  background-color: rgba(206, 211, 216, .5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  word-spacing: -5px;
}

.AboutUs {
  color: rgb(112, 149, 184);
}

h2 {
  font-family: 'OpenDyslexic';
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  margin: 0px 0px 0px 0px;
  text-align: center;
  background-color: rgba(186, 197, 200, 0.2);
  word-spacing: 10px;
  color: rgb(147, 192, 234);
}

.short-story {
  font-family: 'OpenDyslexic';
  margin: 10px 0px;
  padding: 0px 50px;
  word-spacing: 5px;
}

.subheading {
  font-family: 'OpenDyslexic';
}

.mission-statement {
  font-family: 'OpenDyslexic';
  margin: 0px 0px 0px 0px;
}

p {
  text-align: center;
  margin: 10px 0px;
  padding: 0px 50px;
}
