#new {
  margin-top: 15px;
  margin-bottom: 20px;
}

.refresh {
  text-align:center;
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

#play-audio {
  margin: 25px;
}

@font-face {
  font-family: OpenDyslexic;
  src: url('../fonts/OpenDyslexic2/OpenDyslexic-Regular.otf');
}

@font-face {
  font-family: MajorMono;
  src: url('../fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf');
}

body {
  font-size: 20px;
}

.banner {
  font-family: 'MajorMono';
  background-color: rgb(206, 211, 216);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  word-spacing: -5px;
}

.padright {
  padding-right: 10px;
}

.center {
  font-weight: lighter;
  font-size: 20px;
}

h2 {
  font-family: 'OpenDyslexic';
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0px 0px 0px 0px;
  text-align: center;
  background-color: rgba(186, 197, 200, 0.2);
  word-spacing: 10px;
  color: rgb(147, 192, 234);
}

.short-story {
  font-family: 'OpenDyslexic';
  margin: 10px 0px;
  padding: 0px 50px;
  word-spacing: 5px;
}

.subheading {
  font-family: 'OpenDyslexic';
  box-shadow: 0 4px 8px 0 rgba(210, 233, 255, 0.2), 0 6px 20px 0 rgba(210, 233, 255, 0.19);
}

.mission-statement {
  font-family: 'OpenDyslexic';
  margin: 0px 0px 0px 0px;
}

p {
  text-align: center;
  margin: 10px 0px;
  padding: 0px 50px;
}
