
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Cutive+Mono|Megrim');

@font-face {
  font-family: OpenDyslexic;
  src: url('./fonts/OpenDyslexic2/OpenDyslexic-Regular.otf');
}

body {
  font-size: 20px;
}
.banner {
  font-family: 'Megrim';
  background-color: rgb(83, 83, 83)
}

h2 {
  font-family: 'OpenDyslexic', bold;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(186, 197, 200, 0.2);
  word-spacing: 40px;
}

.short-story {
  font-family: 'OpenDyslexic';
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 300px;
  margin-right: 300px;
  word-spacing: 5px;
}

.subheading {
  font-family: 'OpenDyslexic', bold;
}

.mission-statement {
  font-family: 'OpenDyslexic';
  margin: 0px 200px 0px 200px;
}
